#map {
    width: 1000px;
    height: 600px;

    }
#navbar{
    background-size: contain;
    background-color: rgb(255, 251, 0);
    background-size: 100px;
    margin-left: 300px;
    margin-right: 870px;


}